/*** ESTILOS BOTÓN GROW ELLIPSE ***/
.ov-btn-grow-ellipse {
    background: #fff; /* color de fondo */
    color: hsl(222, 100%, 61%); /* color de fuente */
    border: 2px solid #4741d7; /* tamaño y color de borde */
    padding: 8px 13px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-grow-ellipse:hover {
    color: #fff;/* color de fuente hover */
  }
  .ov-btn-grow-ellipse::after {
    content: "";
    background: #2b59ff; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    border-radius: 50%;
    left: -50%;
    right: -50%;
    top: -150%;
    bottom: -150%;
    transform: scale(0, 0);
    transition: all 0.4s ease;
  }
  .ov-btn-grow-ellipse:hover::after {
    transition: all 0.6s ease-out;
    transform: scale(1, 1);
  }
